
<div clss=row> 
<h5 class="purple">Project Name : {{etc.Engagement.configName}}</h5>
</div>
<div class="container animate-hide" style="margin: 10px;">
	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav" ng-cloak>
			<li ng-repeat="tab in tabs"  ng-cloak>
				<!-- <a id="{{tab.id}}"  ui-sref="{{tab.url}}" ng-show="tab.visible" href="{{tab.url}}"	ng-cloak>{{tab.title}}</a> -->
			<button id="{{tab.id}}" ng-class="checkActive(tab.newUrl)"  ui-sref="{{tab.url}}" ng-show="tab.visible" ng-cloak>{{tab.title}}</a>
			</li>
		</ul>
	</div>

<script>
$( document ).ready(function() {
	$('#engagementQues').trigger('click');
	alert("vijay")
    console.log( "ready!" );
});

</script>
	
	<div ui-view></div>

</div>