<div class="container" ng-controller="registrationCtrl">
        <div class="row">
            <div class="col-sm-2">
                <label class="lblRight">ITG:</label>&nbsp
            </div>
            <div class="col-sm-6">					
                <input type="number" placeholder="12334">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="lblRight">Implementation Date:</label>
            </div>
            <div class="col-sm-6">
                <input type="date" placeholder="yyyy-MM-dd" min="{{newdate | newdate:'yyyy-MM-dd'}}" required>
            </div>				
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="lblRight">Registration Details:</label>
            </div>
            <div class="col-sm-6">
                <textarea rows="4"" cols="80"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="lblRight">Manager:</label>
            </div>				
            <div class="col-sm-6">
                <input type="text">					
                
            </div>
        </div>
        </br>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">ITG Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="lblRight">ITG VP:</label>
                        </div>				
                        <div class="col-sm-4">
                            <input type="text" style="background-color: lightgrey" readonly>					
                        </div>
                        <div class="col-sm-2">
                            <label class="lblRight"><label>Override VP Sponsor:</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="vpOveride" ng-model="selectedVp" ng-options="v.name for v in vps">                                
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="lblRight">Threshold:</label>
                        </div>				
                        <div class="col-sm-4">
                            <input type="text" style="background-color: lightgrey" readonly>					
                        </div>
                        <div class="col-sm-2">
                            <label class="lblRight">Artifact #:</label>
                        </div>				
                        <div class="col-sm-4">
                            <input type="text" style="background-color: lightgrey" readonly>					
                        </div>
                    </div>												
                </div>
            </div>							
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">EAI Selection</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Project EAI(s)</label>&nbsp;
                        </div>
                        <div class="col-sm-2">                            							
                        </div>
                        <div class="col-sm-8">
                            <label>Selected EAI(s)</label> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">                            
                            <select multiple ng-multiple='true' id="eaiAvailable" ng-model="selectedEais" ng-options="e.eaiName for e in eais">                                
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="button" id="removeEai" value="&nbsp >" ng-click="moveItem(selectedEais[0], eais, addedEais)"/>
                            </br>                            
                            <input type="button" id="removeEai" value=">>" ng-click="moveAll(eais, addedEais)"/>
                            </br></br>
                            <input type="button" id="removeSelEai" value="< &nbsp" ng-click="moveItem(selectedAddedEais[0], addedEais, eais)"/>
                            </br>
                            <input type="button" id="removeEai" value="<<" ng-click="moveAll(addedEais, eais)"/>                            
                        </div>
                        <div class="col-sm-8">
                            <select multiple ng-multiple='true' id="eaiSelected" ng-model="selectedAddedEais" ng-options="e.eaiName for e in addedEais">                                
                            </select>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-sm-2">								
                        </div>
                        <div class="col-sm-2">							
                        </div>
                        <div class="col-sm-8">
                            <label>Add Other EAI(s)</label> </br>
                            <input type="text" ng-model="customEai" style="color:green"/>
                            <input type="button" id="btnCustomEai" value="Add" ng-click="addCustomEai()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
        <div class="row">
            <input type="button" value="Save"/>&nbsp;<input type="button" value="Register"/>
        </div>
</div>