<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mywebapp</property>
        <property name="hibernate.connection.username">root</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
         <property name="hibernate.show_sql">true</property>
         <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.roona.dao.Address"/>
         <mapping class="com.roona.dao.Application"/>
         <mapping class="com.roona.dao.ApplicationRequest"/>
          <mapping class="com.roona.dao.ApplicationRequestDetails"/>
         <mapping class="com.roona.dao.Complexity"/>
         <mapping class="com.roona.dao.Role"/>
          <mapping class="com.roona.dao.Team"/>
         <mapping class="com.roona.dao.User"/>
         
        
    </session-factory>
    
    
</hibernate-configuration>
