<!-- <div id="fh5co-section" class="fh5co-grey-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="fh5co-inner">
							<i class="icon-shield"></i>
							<div class="holder-section">
								<h3>Error Code : {{mainObj.code}}</h3> <h3>Error Description : {{mainObj.description}}</h3>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div> -->
		
		
		
			<div id="fh5co-product-section" class="fh5co-grey-section">
			<div class="container">
				<div class="row">
					<!-- <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Error</h3>
						<p></p>
					</div> -->
					
					<div class="fh5co-inner">
							<i class="icon-shield"></i>
							<div class="holder-section">
								<h3>Error Code : {{mainObj.code}}</h3> <h3>Error Description : {{mainObj.description}}</h3>
							</div>
						</div>
				</div>
				
			</div>
		</div>