<div id="engagementForm" class="container animate-hide">
    <div class="row">
        <div class="panel panel-default" style="max-width: 780px;">
            <div class="panel-heading"><h3 class="purple">Engagement</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Project Name</label><br/>
                        <input type=text id="TestResource" ng-model="Engagement.configName" placeholder="Project Name" resource="configName" authorize></textarea>
                    </div>
                    <div class="col-sm-12">
                        <label>Description</label><br/>
                        <textarea ng-model="Engagement.projectDescription" rows="4" cols="80" placeholder="Project Description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>ITG</label><br/>
                        <input type="text" name="ITG" placeholder="ITG Number" ng-model="Engagement.itgField"
                            ng-blur="getITG()" min="0" max="9999999" required />
                        <span ng-message="engagementForm.ITG.$error" style="color:red" class="error help-block">{{itgError}}</span>
                    </div>
                    <div class="col-sm-6">
                        <label>Target Date</label><br/>
                        <input type="date" name="date" ng-model="targetDate" required ng-change="updateTargetDate()" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Manager</label><br/>
                        <input type="text" name="projManager" placeholder="Manager Emp ID" ng-model="Engagement.mgrField" ng-blur="isManager()" />
                        <span ng-message="error" style="color:red" class="error help-block">{{isManagerError}}</span>
                    </div>
                    <div class="col-sm-6">
                        <label ng-show="!Engagement.capacityEngagement">first PassID</label><br/>
                        <input type="text" ngModel="Engagement.passIDField" placeholder="first Pass ID" ng-show="!Engagement.capacityEngagement" />
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>IA(s) Assigned</label>
                    </div>
                    <div class="col-sm-6">
                        <label>IA List</label>
                    </div>
                </div>
                <div class="row" >    
                    <div class="col-sm-5">
                        <select multiple ng-multiple="true" ng-model="removeIas"  class="iaList">
                            <option ng-selected="{{i == removeIas}}"  ng-repeat="i in addedIaNames" value="{{i}}" class="iaListOptions">
                                {{i.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        </br>
                        <button id="addEais" value=">>" ng-click="moveAll(Engagement.assignedIa, addedIaNames, iaNames)" class="btn btn-default btn-circle purple">
                            <i class="glyphicon glyphicon-backward"></i>
                        </button>
                        </br></br>
                        <button id="removeEais" value="< &nbsp" ng-click="moveAll(removeIas, iaNames, addedIaNames)" class="btn btn-default btn-circle purple">
                            <i class="glyphicon glyphicon-forward"></i>
                        </button>
                    </div>
                    <div class="col-sm-6" style="width: 40%; margin: 0 auto; text-align: left;">
                        <select multiple ng-multiple="true" ng-model="Engagement.assignedIa" ng-init="getIaList()" class="iaList">
                            <option ng-selected="{{i == Engagement.assignedIa}}" ng-repeat="i in iaNames" value="{{i}}" class="iaListOptions" >
                                {{i.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 gridStyle" ng-grid="gridOptions">
                        <label>EAI</label><br/>
                    </div>
                    <div class="col-sm-6" ng-style="{visibility: Engagement.capacityEngagement && 'visible' || 'hidden'}">
                        <label>Hostname</label><br/>
                    </div>
                    <div class="col-sm-5 gridStyle" ng-grid="gridOptions">
                        <input name="eai" ng-model="eai" placeholder="EAI Number/Name" size="40" ng-minlength="3" ng-maxlength="10"/>
                        <span ng-message="error" style="color:red" class="error help-block">{{isEaiError}}</span>
                    </div>
                    <div class="col-sm-1 gridStyle" ng-grid="gridOptions" >
                        <button type="button" class="btn btn-default btn-circle green" ng-click="addCustomEai()">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button><br/>
                    </div>
                    <div class="col-sm-5 gridStyle" ng-grid="gridOptions">
                        <input type="text" ng-model="hostname" placeholder="Enter hostname" size="40" 
                            ng-style="{visibility:Engagement.capacityEngagement  && 'visible' || 'hidden'}" /> &nbsp;
                    </div>
                    <div class="col-sm-1 gridStyle" ng-grid="gridOptions" >
                        <button type="button" class="btn btn-default btn-circle green" ng-click="addHostname()" 
                            ng-style="{visibility:Engagement.capacityEngagement && 'visible' || 'hidden'}">
                            <i class="glyphicon glyphicon-plus" ng-style="{visibility: Engagement.capacityEngagement && 'visible' || 'hidden'}"></i>
                        </button><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 gridStyle" ng-grid="gridOptions" >
                        <table cellpadding="0" border="0" cellspacing="0" ng-init="getEaiInfo()" class="table-6x color2">
                            <thead>
                                <tr id="heading">
                                    <th>
                                        <a ng-href="#" ng-click="sortEaiType = 'eaiNumber'; sortEaiReverse = !sortEaiReverse">
                                        EAI # 
                                        <span ng-show="sortEaiType == 'eaiNumber' && !sortEaiReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortEaiType == 'eaiNumber' && sortEaiReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortEaiType = 'eaiName'; sortEaiReverse = !sortEaiReverse">
                                        EAI NAME
                                        <span ng-show="sortEaiType == 'eaiName' && !sortEaiReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortEaiType == 'eaiName' && sortEaiReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortEaiType = 'profileId'; sortEaiReverse = !sortEaiReverse">
                                        Symphony #
                                        <span ng-show="sortEaiType == 'profileId' && !sortEaiReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortEaiType == 'profileId' && sortEaiReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortEaiType = 'profileName'; sortEaiReverse = !sortEaiReverse" class="a:link{color:white}">
                                        Symphony Name
                                        <span ng-show="sortEaiType == 'profileName' && !sortEaiReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortEaiType == 'profileName' && sortEaiReverse" class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tr class="color" ng-repeat="eai in eaiRec | orderBy:sortEaiType:sortEaiReverse | filter:searchEai">
                                <td> 
                                    <input type="checkbox" ng-click="eaiChecked($index);" />
                                    {{eai.eaiNumber}} 
                                </td>
                                <td>{{eai.eaiName}}</td>
                                <td>{{eai.profileId}}</td>
                                <td>{{eai.profileName}}</td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search EAI/Symphony Data" ng-model="searchEai">
                            </div>      
                        </div>
                    </div>
                    <div class="col-sm-1 gridStyle" ng-grid="gridOptions" >
                        <button type="button" class="btn btn-default btn-circle pull-top red" style="vertical-align: top" 
                            ng-click="removeEai()">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                    <div class="col-sm-5 gridStyle" ng-grid="gridOptions">
                        <select multiple ng-multiple='true' id="eaiSelected" ng-model="selectedHost" 
                            ng-options="h for h in Engagement.hostnames" class="iaList"
                            ng-style="{visibility: Engagement.capacityEngagement && 'visible' || 'hidden'}">                                                            
                        </select>
                    </div>
                    <div class="col-sm-1 gridStyle" ng-grid="gridOptions" >
                        <button type="button" class="btn btn-default btn-circle pull-top red" style="vertical-align: top" 
                            ng-style="{visibility: Engagement.capacityEngagement && 'visible' || 'hidden'}" ng-click="removeHost()">
                            <i class="glyphicon glyphicon-trash" ng-style="{visibility: Engagement.capacityEngagement && 'visible' || 'hidden'}"></i>
                        </button>
                    </div>

                    <div class="col-sm-6">
                        <span style="color:red" class="error help-block" ng-show="engagementForm.eai.$error.minlength && validate">Need at least 3 numbers</span>
                        <span style="color:red" class="error help-block" ng-show="engagementForm.eai.$error.maxlength && validate">max length exceeded numbers</span>
                        <span style="color:red" class="error help-block" ng-show="engagementForm.eai.$error && validate">max length exceeded numbers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="Engagement.isRegistration">
        <button class="btn stdBtn" ui-sref="/QuestionsScreen" ng-show="!Engagement.capacityEngagement"> << Back</button>&nbsp;
        <button class="btn stdBtn" ui-sref="/CapacityScreen" ng-show="Engagement.capacityEngagement"> << Back</button>&nbsp;
        <button class="btn stdBtn" ng-click="saveEngagement()">Save</button>&nbsp;
        <button class="btn stdBtn" ng-click="createEngagement()">Finalize</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" ng-click="cancelEngagement()">Delete</button>
    </div>
    <div class="row" ng-hide="!Engagement.isRegistration">
        <button class="btn stdBtn" ng-click="saveEngagement()">Save</button>&nbsp;
        <button class="btn btn-danger" ng-click="cancelEngagement()">Delete</button>
    </div>
</div>